body {
    text-align: center;
    font-family: 'Roboto', 'Open Sans', Futura, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #808080;
    background-color: #f1f2f4;
}
h4{
    font-family: 'Roboto', 'Open Sans', Futura, Helvetica Neue, Helvetica, Arial, sans-serif;
}
a:active {
    background-color: #e8d27e;
}

#header{
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#menu.fixed {
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    right: 0;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-bottom: 18px;
    -webkit-box-shadow: 0px 2px 9px 0px rgba(50, 50, 50, 0.45);
    -moz-box-shadow: 0px 2px 9px 0px rgba(50, 50, 50, 0.45);
    box-shadow: 0px 2px 9px 0px rgba(50, 50, 50, 0.45);

}
.logo img {
    width: 13%;
    margin: 40px 0 10px 0;
}

#menu {
    /*display: inline-block;*/
    text-align: center;
    padding: 30px 0 0 0;
    background: #f1f2f4;
}

#menu nav{
    background: #f1f2f4;
    border: none;
    /*display: flex;*/
}
.navbar ul{
    float: right;
}
.navbar-toggle{
    background: #f1f2f4;
    border: none;
}
.navbar-default  .navbar-toggle:hover {
    background-color: #f1f2f4;
}

#menu a{
    padding: 0 11px 0;
    color: #808080;
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2em;
    text-align: right;
}

.menu a:active {
    color: #e8d27e;
}

#menu a:hover{
    background-color: #f1f2f4;
    color: #e8d27e;
    /*border-bottom: 1px solid #e8d27e;*/
}
/*.mobile-menu {*/
    /*background-color: #fff;*/
    /*position: fixed;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*height: 100vh;*/
    /*padding: 15px 0;*/
    /*z-index: 10;*/
    /*-webkit-transform: translateX(-100%);*/
    /*-ms-transform: translateX(-100%);*/
    /*transform: translateX(-100%);*/
/*}*/

/*page home*/
.split_page img{
    width: 100%;
}

.mywork{
    position: relative;
    display: flex;
    margin: 0 0 20px 0;
}
.getintouch{
    position: relative;
    display: flex;
}
.more{
    position: absolute;
    bottom: 0;
    width: 180px;
    height: 45px;
    margin: 0 0 40px;
    background: rgba(232, 210, 126, 0.25);
    border: 1px solid rgba(232, 210, 126, 0.42)
}
.more a{
    color: #808080;
}
.more a:hover{
    text-decoration: none;
}
.more p{
    padding: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.25rem;
}
.more:hover{
    background: rgba(232, 210, 126, 0.69);
}
.about img{
    border-radius: 500px;
    width: 215px;
}

#footer {
    clear: both;
    padding: 30px 0 0 0;
}
.footer_social {
    border-bottom: 1px dashed #e8d27e;
    padding-bottom: 20px;
    margin-top: 30px;
}
.footer_social a {
    margin: 7px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 2px solid #e8d27e;
    line-height: 40px;
    -webkit-box-shadow: 0 0 0 7px transparent;
    box-shadow: 0 0 0 7px transparent;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}
.footer_social i {
    color: #808080;
}
.footer_social a:hover {
    background: rgba(232, 210, 126, 0.83);
    border: 2px solid #e8d27e;
    -webkit-box-shadow: 0 0 0 0 #e8d27e;
    box-shadow: 0 0 0 0 #e8d27e;
    color: white;
}
.footer_social a:hover i{
    color: white;
}

/*page contact*/
.form-group{
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: 400;
    font-size: 14px
}

.form-group input {
    width: 420px;
    max-width: 100%;
    display: inline-block;
    position: relative;
    background: #fff;
    border: 1px solid #999;
    padding: 0 4px 0 55px;
    outline: none;
    height: 40px;
    /*box-shadow: 1px 1px 1px #ccc;*/
    font-size: 13px;
    margin-bottom: 13px;
    /*border-radius: 5px;*/
}

.form-group textarea {
    width: 420px;
    max-width: 100%;
    display: inline-block;
    position: relative;
    background: #fff;
    border: 1px solid #999;
    padding: 6px 4px 0 55px;
    outline: none;
    height: 120px;
    font-size: 13px;
    /*box-shadow: 1px 1px 1px #ccc;*/
    /*border-radius: 5px;*/
}

.btn {
    background-color: rgba(232, 210, 126, 0.63);
    width: 127px;
    height: 50px;
    font-size: 20px;
    border: 0;
    /*box-shadow: 1px 1px 1px 1px #ccc;*/
    margin-bottom: 40px;
    float: left;
    clear: both;
    border-radius: 0;
}

.btn:hover {
    /*border: 1px solid #999;*/
    /*box-shadow: 1px 2px 1px #ccc;*/
    background: rgba(232, 210, 126, 0.83);
}

.form-group .input-group-addon {
    display: inline;
    position: absolute;
    z-index: 999;
    height: 40px;
    width: 50px;
    border: 1px solid #999;
    color: black;
    padding: 11px;
    border-radius: 0;
}

.input-group-addon.last {
    height: 120px;
}
.page_contact h3{
    color: #222;
    padding: 30px 0;
    text-align: left;
    font-family:  'Open Sans','Roboto', Futura, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.contact_left{
    width: 50%;
    float: left;
    text-align: left;
    color: #222222;
}

.contact_right p{
   padding: 5px 0 0 0;
}
.contact_right{
   text-align: right;
}

/*page porfolio*/
.picture{
    position: relative;
    display: block;
    float: left;
    background-size: cover;
    overflow: hidden;
    width: calc(99% - 1px);
}
.picture img{
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}
.picture:hover img {
    -webkit-transform:scale(1.10); /* Safari and Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* IE 9 */
    -o-transform:scale(1.10); /* Opera */
    transform:scale(1.10);
    -webkit-transition: -webkit-transform .3s ease-in;
    transition: transform .3s ease-out;
    overflow: hidden;

}
.picture::before {
    content: " ";
    background: linear-gradient(to bottom,rgba(101,10,10,0) 0,rgba(255,13,87,0.10) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}
.project_name{
    bottom: 0;
    color: #ffffff;
    z-index: 3;
    position: absolute;
    text-align: -webkit-left;
    margin: 0 10px;
}
.picture img{
    width: 377px;
}
.photo img{
    width: 300px;
    height: 300px;
    padding: 9px;

}
.item{
    margin: 5px 0 0;
    padding: 0;
}
/*page haute_couture*/
.catalog_picture img{
    width: 283px;
}
.catalog_item {
    padding: 0;
    position: relative;
    margin: 0 0 2px 0;
}
/*page about*/
.about{
    margin: 50px;
}
.about h1 {
    margin: 50px 0 30px 0;
}