#menu {
  display: inline-block;
  text-align: center;
  margin: 30px auto 20px auto;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  max-width: 320px;
  padding: 0;
}

#menu a{
  padding: 0 11px 0;
  color: #000;
}

#menu a:hover{
  background-color: #ffffff;
  color: #e8d27e;
}
