.menu.fixed {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
  right: 0;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-bottom: 18px;
  -webkit-box-shadow: 0px 2px 9px 0px rgba(50, 50, 50, 0.45);
  -moz-box-shadow: 0px 2px 9px 0px rgba(50, 50, 50, 0.45);
  box-shadow: 0px 2px 9px 0px rgba(50, 50, 50, 0.45);

}

.menu {
  /*display: inline-block;*/
  text-align: center;
  padding: 30px 0 0 0;
  background: #f1f2f4;
}

.menu nav{
  background: #f1f2f4;
  border: none;
  /*display: flex;*/
}
.navbar ul{
  float: right;
}
.navbar-toggle{
  background: #f1f2f4;
  border: none;
}
.navbar-default  .navbar-toggle:hover {
  background-color: #f1f2f4;
}

.menu a{
  padding: 0 11px 0;
  color: #808080;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .2em;
  text-align: right;
}

.menu a:active {
  color: #e8d27e;
}

.menu a:hover{
  background-color: #f1f2f4;
  color: #e8d27e;
  /*border-bottom: 1px solid #e8d27e;*/
}
