
.footer {
  clear: both;
  padding: 30px 0 5px 0;
}
.footer_social {

  /*border-bottom: 1px dashed #e8d27e;*/

}
.footer_social a {
  margin: 7px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid #e8d27e;
  line-height: 40px;
  -webkit-box-shadow: 0 0 0 7px transparent;
  box-shadow: 0 0 0 7px transparent;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  color: #e8d27e;
}

.footer_social a:hover {
  background: #e8d27e;
  border: 2px solid #e8d27e;
  -webkit-box-shadow: 0 0 0 0 #e8d27e;
  box-shadow: 0 0 0 0 #e8d27e;
  color: white;
}
.footer_right_copyright {
  font-size: 10px;
}
