.footer {
  background-color: black;
}
.footer_social {
  border-bottom: 1px dashed #e8d27e;
  padding-bottom: 20px;
  margin-top: 30px;
}
.footer_social a {
  margin: 7px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid #e8d27e;
  line-height: 40px;
  -webkit-box-shadow: 0 0 0 7px transparent;
  box-shadow: 0 0 0 7px transparent;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}
.footer_social i {
  color: white;
}
.footer_social a:hover {
  background: #e8d27e;
  border: 2px solid #e8d27e;
  -webkit-box-shadow: 0 0 0 0 #e8d27e;
  box-shadow: 0 0 0 0 #e8d27e;
}




.form-group label {
  display: block;
  font-weight: 400;
  font-size: 14px
}

.form-group input {
  width: 420px;
  max-width: 100%;
  display: inline-block;
  position: relative;
  background: #fff;
  border: 1px solid #999;
  padding: 0 4px 0 55px;
  outline: none;
  height: 30px;
  box-shadow: 1px 1px 1px #ccc;
  font-size: 13px;
  margin-bottom: 13px;
  /*border-radius: 5px;*/
}

.form-group textarea {
  width: 420px;
  max-width: 100%;
  display: inline-block;
  position: relative;
  background: #fff;
  border: 1px solid #999;
  padding: 6px 4px 0 55px;
  outline: none;
  height: 120px;
  font-size: 13px;
  box-shadow: 1px 1px 1px #ccc;
  /*border-radius: 5px;*/
}
